.main-header {
  background-color: $color-primary;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  @extend %clearfix;
  @include flexbox;

  @include mq(md) {
    box-shadow: 84px 3px 10px rgba($grey--xdark, .5);
  }
}

.header {
  &-items {
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
    list-style: none;
    @include flexbox;
    @include flex-alignment(center, center);
  }

  @include e(title) {
    flex: 1;
    padding: .5rem;

    & a {
      text-decoration: none;
    }
  }

  @include e(notification) {
    display: inline-block;
    margin-right: 1rem;
  }

  @include e(user) {
    @include e(image) {
      padding: 0 1rem;
      border-left: 1px solid rgba($white, .5);
    }
    @include e(name) {
      color: $white;
      display: none; // hide on small screens

      @include mq(md) {
        display: inline-block;
      }
    }
  }
}

.app-name {
  margin: 0;
  padding: 0;
  color: $white;
  font-weight: $font-weight--regular;
}

.user {
  @include e(image) {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}
