.icon {
  @include e(notification) {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    fill: $white;
    &:hover {
      fill: lighten($color-primary--light, 10%);
    }
  }

  @include e(nav) {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    fill: $grey--light;

    &:hover {
      fill: $white;
    }
    @include mq(md) {
      width: 2rem;
      height: 2rem;
    }

    @include m(active) {
      margin: auto;
      width: 1.5rem;
      height: 1.5rem;
      transition: .2s;
      fill: $white;

      @include mq(md) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  @include e(social) {
    margin: auto;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    fill: $white;
  }
}
